
build/

*.key
*.wtns
*.r1cs
*.txt

*.log
*.tmp
*.DS_Store

node_modules/

Zokrates/witness
Zokrates/out.*
Zokrates/generate_input_original.py
Zokrates/out
Zokrates/abi*
Zokrates/commitment*
Zokrates/verifier*
Documentazione/
__pycache__/
*.pyc